<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vineivel.emailregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="br.com.vineivel.mainlogin.presentation.MainLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name="br.com.vineivel.googleregister.presentation.GoogleRegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.RegisterLoginEmailActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>